<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BinaryTree" version="5.2.0" targetFramework="net481" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net481" />
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net481" />
  <package id="nanoFramework.CoreLibrary" version="1.15.5" targetFramework="net481" />
  <package id="nanoFramework.System.Buffers.Binary.BinaryPrimitives" version="1.2.418" targetFramework="net481" />
</packages>